.home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.postsWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: auto;
}

.createPostWrapper {
    position: absolute;
    right: 15vw;
    bottom: 20vh;
}

.chatButtonWrapper {
    position: absolute;
    left: 15vw;
    bottom: 20vh;
}

.toggleWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.toggle{
    background-color: white;
    border: 1px solid #61b41e;
    padding: 0 1rem;
    border-radius: 2rem;
}
