.home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.postsWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    margin: auto;
}