.profileDropDown{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.profileImg{
    width: 3rem;
    height: 3rem;
    color: white;
    border-radius: 50%;
    &:hover{
        cursor: pointer;
    }
    display: flex;
    align-items: center;
}

.imgWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    width: 7rem;

    
}